

.countDown-container {
  background-image: url('./background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.countDown {
  background-color: rgba(0, 0, 0, .1);
  align-self: center;
}

.countDown p {
  color: white;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 0em;
}

.countDown-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 0em;
}

.countDown-elments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 2em;
}

.countDown-elments div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.countDown-elments p {
  color: white;
  font-size: .7em;
  text-align: center;
} 

span {
  padding: .5em;
  font-size: 4em;
  font-weight: 700;
}
